
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <!-- <img src="/images/jimrohn147498.jpg" class="img-responsive" alt="Responsive image"> -->
      <%= image_tag("jimrohn147498.jpg", :class =>"img-responsive") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1>Quote for the day for you</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= @quote %>  </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Wait a sec!</div>
    <div class="panel-body">
      <p>The quote is great, but you may want to check weather before you head out. Please enter address below </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-1 col-md-3">

      <form action="/">
        <div>
          <label for="the_address">Street Address</label>
          <span>
          <input type="text" name="user_street_address" id="the_address"></span>
        </div>
        <button>Tell me the weather!</button>
      </form>

      <%  if params[:user_street_address].present? %>
      <dl>
        <dt>Current Temperature</dt>
        <dd><%= @current_temperature %></dd>

        <dt>Current Summary</dt>
        <dd><%= @current_summary %></dd>

        <dt>Outlook for next sixty minutes</dt>
        <dd><%= @summary_of_next_sixty_minutes %></dd>

        <dt>Outlook for next several hours</dt>
        <dd><%= @summary_of_next_several_hours %></dd>

        <dt>Outlook for next several days</dt>
        <dd><%= @summary_of_next_several_days %></dd>
      </dl>
        <%end %>

  </div>
    <div class="col-md-7">
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-2 col-md-8">

    </div>
  </div>
</div>
